body {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("Cricket.jpg") no-repeat ;
    --primary-color: rgba(200,200,200,1);
    --secondary-color: blue;
    background-size: cover;
}
.head h1 {
    text-align: center;
    color: rgba(201, 204, 19, 0.548);
    font-size: 3em;
}
.container-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding-top: 50px;
}
.singleContainer1 {
    /* padding-top: 50px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border: 2px solid white;
    background: linear-gradient(rgba(16, 129, 129, 0.897), rgba(76, 134, 173, 0.644));
    text-align: center;
}
.singleContainer {
    /* padding-top: 50px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border: 2px solid white;
    background-color: var(--primary-color);
    background: linear-gradient(rgba(160, 194, 99, 0.87), rgba(154, 206, 70, 0.678));
    text-align: center;
}
.singleContainer1 h1 {
    color: rgba(8, 7, 83, 0.247);
    text-align: center;
    opacity: 1;
    font-size: 50px;
}
.singleContainer h1 {
    color: rgba(9, 97, 28, 0.274);
    text-align: center;
    opacity: 1;
    font-size: 50px;
}
.singleContainer1 p, .singleContainer p {
    color: rgb(14, 151, 231);
    padding-left: 20px;
    padding-right: 20px;
}
form {
    width: 640px;
    /* height: 1920px; */
    text-align: left;
    /* opacity: 0.5; */
}
h2 {
    text-align: center;
    padding-left: 0px;
}
.container-holder a {
    width: 100px;
    height: 40px;
    background-color: var(--secondary-color);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container-holder a:hover {
    width: 100px;
    height: 40px;
    background-color: var(--secondary-color);
    color: white;
}
button {
    margin-top: 20px;
    margin-left: 300px;
    margin-bottom: 20px;
}
.playerBox1 {
    /* margin-left: 80px; */
    padding-left: 20px;
    padding-bottom: 20px;
    background: linear-gradient(rgba(10, 157, 224, 0.932), rgba(43, 79, 179, 0.863));
    border: 5px solid white;
}
.playerBox2 {
    /* margin-left: 80px; */
    padding-left: 20px;
    padding-bottom: 20px;
    background: linear-gradient(rgba(5, 155, 18, 0.274), rgba(95, 179, 212, 0.863));
    border: 5px solid white;
}