body {
    background: linear-gradient(rgba(21, 6, 71, 0.11), rgba(22, 203, 248, 0.911)), url("sports.jpg") no-repeat ;
    --primary-color: rgb(212, 14, 14);
    --secondary-color: black;
}
.head {
    padding-top: 80px;
    align-items: center;
}
.head h1 {
    color: rgb(92, 5, 5);
    text-align: center;
}
.container-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding-top: 50px;
}
.singleContainer1 {
    padding-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border: 2px solid white;
    background-color: var(--primary-color);
    text-align: center;
}
.singleContainer2 {
    padding-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border: 2px solid white;
    background-color: var(--primary-color);
    text-align: center;
}
.singleContainer1 h1 {
    color: white;
    text-align: center;
    opacity: 1;
}
.singleContainer2 h1 {
    color: white;
    text-align: center;
    opacity: 1;
}
.singleContainer1 p, .singleContainer2 p {
    color: rgb(106, 241, 16);
    padding-left: 20px;
    padding-right: 20px;
}
form {
    width: 400px;
    height: 250px;
    /* opacity: 0.5; */
}
.container-holder a {
    width: 100px;
    height: 40px;
    background-color: var(--secondary-color);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container-holder a:hover {
    width: 100px;
    height: 40px;
    background-color: var(--secondary-color);
    color: white;
}
.buttons {
    align-items: flex-end;
}